<footer>
    <div class="wid">
        <h2>JOIN US</h2>
        <h3>Log in and get more benefits.</h3>
        <button class="login">LOGIN</button>

        <div class="sns">
            <button onclick="window.open('https://www.instagram.com/park_woongki/')">Instagram</button>
            <button onclick="window.open('https://www.youtube.com/@filmbible')">Youtube</button>
            <button>Brand</button>
        </div>

        <p class="copy">Copyright © <b>FILM BIBLE®</b> All Rights Reserved.</p>
    </div>
</footer>