<header id="header" class="header header--fixed hide-from-print" role="banner" >
    <div class="logo">
        <a href="index.html">
            <img th:src="@{/img/logo.svg}">
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="#a">Film Class</a>
                <!--<ul class="ul1">
                    <li><a href="about.html">협회장 인사말</a></li>
                </ul>-->
            </li>
            <li><a href="#a">Film Making</a></li>
            <li><a href="#a">Portfolio</a></li>
            <li><a href="#a">Studio</a></li>
            <li><a href="#a">영상제작문의</a></li>
            <li class="mo_menu"><button class="login"><img src="img/menu_icon1.svg"></button><button><img src="img/menu_icon2.svg"></button><button class="menu_bar"><img src="img/menu_icon3.svg"></button></li>
        </ul>
    </nav>
</header>