/* custom_alert */
.popupswal { position: fixed; left: 0; top: 0; z-index: 100000; width: 100%; height: 100%; opacity: 0; visibility: hidden; transition: opacity 0.3s ease; display: flex; justify-content: center; align-items: center;}
.popupswal.in { opacity: 1; visibility: visible; }
.popupswal.in .swalview { transform: translateY(0); opacity: 1; }
.popupswal .pbgswal {position: absolute; left: 0; top: 0; background: rgba(0,0,0,.35); width: 100%; height: 100%;}
.popupswal .swalview { position: relative; border-radius: 15px; background: rgba(255, 255, 255, 0.83); box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1), 4px 4px 40px rgb(118 141 149 / 10%); border: 1px solid #fff; backdrop-filter: blur(120px); padding: 16px 20px 20px 20px; min-width: 350px; max-width: 80vw; text-align: center; transform: translateY(-50px); opacity: 0; transition: transform 0.5s ease, opacity 0.5s ease;}
.popupswal .swalview.out {display: none;}
.popupswal .swalview.warn .bi-check-circle-fill {display:none;}
.popupswal .swalview.check .bi-exclamation-circle {display:none;}
.popupswal .swalview p {font-size: 15px; color:#a2a8b0}
.popupswal .swalview.check svg {position: relative; top: 5px; width: 19px; height: 19px; margin-right: 3px; color:#000000;}
.popupswal .swalview.warn svg {position: relative; top: 5px; width: 19px; height: 19px; margin-right: 3px; color: #ff0000}
.popupswal .swalview button {margin-top: 20px; float: left; width:49% ;height: 35px; background: #F3F6FF; color: #575F6E; border-radius: 5px; border: 1px solid #EBF0FF; font-size: 13.5px;}
.popupswal .swalview .submit_bt {margin-right: 2%;}
.popupswal .swalview .submit_bt.on {background: rgba(0,0,0,.35); color: #fff;}



/* custom_confirm */
.custom_confirm {position: fixed; width:100%; height:100%; left:0; top:0; z-index: 1000; display: none;}
.custom_confirm.on {display: block;}
.custom_confirm .custom_confirm_bg {position: absolute; left:0; top:0; width:100%; height:100%; background: rgba(73, 73, 73, 0.15); backdrop-filter: blur(10px);}
.custom_confirm .custom_confirm_view {position: absolute; max-width:320px; width:90%; height:auto; max-height:80%; background:#fff; overflow: hidden; border-radius:20px; left:50%; top:50%; transform: translate(-50%,-50%); padding:35px 35px 100px 35px;}
.custom_confirm .custom_confirm_view p {color:#999; font-size:14px;}
.custom_confirm .custom_confirm_view p b {display: inline-block; width:100%; font-weight: 400;  font-size:20px; color:#222; font-family: "Zen Kaku Gothic Antique", sans-serif; margin-bottom:10px;}

.custom_confirm .custom_confirm_view .custom_confirm_cancel2 {position: absolute; left:0; bottom:0; width:50%; background:#eee; color:#aaa; border:none; height:55px; font-size:17px;}
.custom_confirm .custom_confirm_view .custom_confirm_confirm2 {position: absolute; right:0; bottom:0; width:50%; background:#ADD8E6; color:#fff; border:none; height:55px; font-size:17px;}



/* custom_confirm */
/*.confirm_pop {position: fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.55); z-index: 10000; display: none;}*/
.confirm_pop {position: fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.55); z-index: 10001; opacity: 0; visibility: hidden; transition: opacity 0.3s ease; display: flex; justify-content: center; align-items: center;}
/*.confirm_pop.on {display: block;}*/
.confirm_pop.on { opacity: 1; visibility: visible; }
.confirm_pop.on .view { transform: translateY(0); opacity: 1; min-width: 350px; }
/*.confirm_pop .view {position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); width:400px; border-radius:10px; background:rgba(255,255,255,.83); box-shadow:inset 1px 1px 5px rgba(0,0,0,.1), 4px 4px 40px rgb(118 141 149 / 10%); border:1px solid #fff; backdrop-filter: blur(8px); text-align: center; padding:5px 35px 30px 35px;}*/
.confirm_pop .view {position: absolute; border-radius:10px; background:#fff; text-align: center; padding:5px 35px 30px 35px; transform: translateY(-50%); opacity: 0; transition: transform 0.5s ease, opacity 0.5s ease;}
.confirm_pop .view .rename_close {border:none; background:none; position: absolute; right:30px ;top:30px; z-index: 1;}
.confirm_pop .view h2 {font-size:22px; color:#222; margin-top:30px;}
.confirm_pop .view h3 {margin-top:20px; font-size:16px; color:#a2a8b0; font-weight:400; line-height: 1.3;}

.confirm_pop .view .scroll{margin-top:25px; text-align: left;}
.confirm_pop .view .input_box {margin-top:10px;}
.confirm_pop .view .input_box span {display: inline-block; width:100%; font-size:14px; color:#A2A8B0;}
.confirm_pop .view .input_box input[type="text"] {width:100%; height:40px; border-radius:5px; background:rgba(255,255,255,.3); border:1px solid #fff; margin-top:8px; box-shadow:inset 1px 1px 5px rgba(0,0,0,.1), 4px 4px 40px rgb(118 141 149 / 10%); padding:0 12px; color:#616469; font-size:14px;}
.confirm_pop .view .input_box textarea {width:100%; height:85px; border-radius:5px; background:rgba(255,255,255,.3); border:1px solid #fff; margin-top:8px; box-shadow:inset 1px 1px 5px rgba(0,0,0,.1), 4px 4px 40px rgb(118 141 149 / 10%); padding:10px 12px; color:#616469; resize: vertical; font-size:14px;}

.confirm_pop .view .bt_box:after {content:''; clear:both; display: table;}
.confirm_pop .view .bt_box {margin-top:35px; }
.confirm_pop .view .bt_box button {float:left; width:calc((100% - 10px) / 2); height:42px; border-radius:5px; background:#f6f6f6;  border:none;  font-size:15px; color:#999; font-weight:300; padding-bottom:2px;}
.confirm_pop .view .bt_box button:last-child {margin-left:10px;}
.confirm_pop .view .bt_box button.save {background:#000; border:none; color:#fff;}

/* custom_info */
.confirm_info {position: fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.55); z-index: 10000; opacity: 0; visibility: hidden; transition: opacity 0.3s ease; display: flex; justify-content: center; align-items: center;}
.confirm_info.on { opacity: 1; visibility: visible; }
.confirm_info.on .view { transform: translateY(0); opacity: 1; }
.confirm_info .view {position: absolute; min-width:420px; border-radius:10px; background:#fff; text-align: center; padding:5px 35px 30px 35px; transform: translateY(-50%); opacity: 0; transition: transform 0.5s ease, opacity 0.5s ease;}
.confirm_info .view .rename_close {border:none; background:none; position: absolute; right:30px ;top:30px; z-index: 1;}
.confirm_info .view h2 {font-size:22px; color:#222; margin-top:30px;}
.confirm_info .view h3 {margin-top:20px; font-size:16px; color:#a2a8b0; font-weight:400;}

.confirm_info .view .scroll{margin-top:25px; text-align: left;}
.confirm_info .view .input_box {margin-top:10px;}
.confirm_info .view .input_box span {display: inline-block; width:100%; font-size:14px; color:#A2A8B0;}
.confirm_info .view .input_box input[type="text"] {width:100%; height:40px; border-radius:5px; background:rgba(255,255,255,.3); border:1px solid #fff; margin-top:8px; box-shadow:inset 1px 1px 5px rgba(0,0,0,.1), 4px 4px 40px rgb(118 141 149 / 10%); padding:0 12px; color:#616469; font-size:14px;}
.confirm_info .view .input_box textarea {width:100%; height:85px; border-radius:5px; background:rgba(255,255,255,.3); border:1px solid #fff; margin-top:8px; box-shadow:inset 1px 1px 5px rgba(0,0,0,.1), 4px 4px 40px rgb(118 141 149 / 10%); padding:10px 12px; color:#616469; resize: vertical; font-size:14px;}

.confirm_info .view .bt_box:after {content:''; clear:both; display: table;}
.confirm_info .view .bt_box {margin-top:45px; }
.confirm_info .view .bt_box button {float:left; width:calc((100% - 20px)); height:42px; border-radius:5px; background:#f6f6f6;  border:none;  font-size:15px; color:#999; font-weight:300; padding-bottom:2px;}
.confirm_info .view .bt_box button:last-child {margin-left:10px;}
.confirm_info .view .bt_box button.save {background:#000; border:none; color:#fff;}






/* loading */
.loading_pop {position: fixed; width:100%; height:100%; left:0; top:0; z-index: 1001; display: none;}
.loading_pop.on {display: block;}
.loading_pop .loading_bg {position: absolute; left:0; top:0; width:100%; height:100%; background: rgba(73, 73, 73, 0.15); backdrop-filter: blur(10px);}
.loading_pop .loading_view {position: absolute; width:auto; height:auto; max-height:80%; background:#fff; overflow: hidden; border-radius:20px; left:50%; top:50%; transform: translate(calc(-50% - 0.9px),calc(-50% - 0.5px)); padding:10px;}
.loading_pop .loading_view img{width:40px;}



.popup {position: fixed; z-index: 1001; width:100%; height:100%; top:0; left:0; display:none;}
.popup.in {display:block;}
.popup .bg {position: absolute; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,.4); z-index: 1}
.popup .view {position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); max-width:380px; width: 100%; height: 315px;padding: 53px 33px 0 33px;  background:#fff; border-radius: 25px; z-index: 2; overflow-y:scroll; text-align:center; overflow:hidden; }
.popup .view .close {position: absolute; right: 24px; top: 24px; border: none; background: none;}
.popup .view::-webkit-scrollbar {display: none;}
.popup .view h2 {font-size:21px; font-weight:600; color:#494949; letter-spacing: -1.5px;}
.popup .view input::placeholder {color:#B0B0B0;}
.popup .view .ok_bt {width:100%; height:73px; margin-top: 20px; border:none; font-size:18px; font-weight:600; color:#fff; border-radius: 18px; background:#3e81ff;}
.popup .view p {font-size: 14px; font-weight: 400; color: #B9B9B9; margin-top: 5px; letter-spacing: -.5px;}
.popup .view .cancel {width:100%; height:73px; margin-top:12px; border:none; font-size:18px; font-weight:600; color:#9F9D9D; border-radius: 18px; background:#F0F0F0;}
.popup .view3 {padding: 53px 33px 0 33px; height: 245px;}
.popup .view3 .ok_bt {margin-top: 28px;}

.popup .view2 {height: 234px;}




/**
  * Trigger
  *
  * @author jh3y
*/
@-webkit-keyframes trigger {
    0%, 100% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    30% {
        -webkit-box-shadow: -30px 30px 0 5px #fff, -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 5px #fff, -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    40% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 5px #fff, 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 5px #fff, 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    50% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 5px #fff, 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 5px #fff, 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    60% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 5px #fff, 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 5px #fff, 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    70% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 5px #fff;
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 5px #fff; }
    80% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); } }
@keyframes trigger {
    0%, 100% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    30% {
        -webkit-box-shadow: -30px 30px 0 5px #fff, -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 5px #fff, -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    40% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 5px #fff, 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 5px #fff, 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    50% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 5px #fff, 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 5px #fff, 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    60% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 5px #fff, 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 5px #fff, 30px 30px 0 0 rgba(255, 255, 255, 0.5); }
    70% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 5px #fff;
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 5px #fff; }
    80% {
        -webkit-box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: -30px 30px 0 0 rgba(255, 255, 255, 0.5), -15px 30px 0 0 rgba(255, 255, 255, 0.5), 0 30px 0 0 rgba(255, 255, 255, 0.5), 15px 30px 0 0 rgba(255, 255, 255, 0.5), 30px 30px 0 0 rgba(255, 255, 255, 0.5); } }


.trigger-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
}
.trigger-wrap.on {
    display: block;
}
.trigger-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 73, 73, 0.15);
    backdrop-filter: blur(10px);
}

.trigger:before {
    -webkit-animation: trigger 0.7s infinite ease;
    animation: trigger 0.7s infinite ease;
    content: '';
    height: 20px;
    left: 50%;
    margin-left: -5px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 10px; }