@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/c9181a15a26571a43d5fb9c2d537e918?family=Constantia+W01+Regular);

/* font-family: "Baskervville", serif;  

font-family: "Constantia W01 Regular";*/